<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
      <bindings>
          <basicHttpBinding>
              <binding name="BasicHttpBinding_IMissionService" />
          </basicHttpBinding>
      </bindings>
      <client>
          <endpoint address="http://127.0.0.1:40005/MissionService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMissionService" contract="ServiceReference1.IMissionService" name="BasicHttpBinding_IMissionService" />
      </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets async="true">
      <target name="AppLoggerTarget" xsi:type="File" layout="${longdate} | ${level} | ${message}" fileName="${basedir}/Logs/${shortdate} AppLogger.txt" />
    </targets>
    <rules>
      <logger name="AppLogger" minlevel="Info" writeTo="AppLoggerTarget" />
    </rules>
  </nlog>
</configuration>